body {
  margin: 0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: #fba886;
  border: none !important;
}

button:hover {
  background: #fba7868e;
  cursor: pointer;
}

.card .card-title {
  font-size: 18px !important;
}

select {
  display: block;
}

textarea {
  width: 100%;
  height: 8rem;
  background-color: white;
  border: solid 1px #fba886;
}
.modal {
  background-color: transparent;
  max-height: 100%;
  width: 100%;
}
.modal .modal-content {
  padding: 10px;
}
