body {
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-weight: 100;
  color: #333;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #c87b94;
}

.form {
  background: #9cced5;
  max-width: 400px;
  margin: 0 auto;
}

p {
  color: #c87b94;
}

p.error::before {
  display: inline;
  content: "⚠ ";
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  font-size: 1em;
  height: 2rem;
}

label {
  text-align: left;
  display: block;
  margin-top: 20px;
  color: #333;
  font-size: 0.8em;
  font-weight: 200;
}

button[type="submit"],
input[type="submit"] {
  background: #fba886;
  color: #333;
  text-transform: uppercase;
  border: none;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #fba7868e;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}

.App {
  max-width: 600px;
  margin: 0 auto;
}

button[type="button"] {
  display: block;
  appearance: none;
  background: "white";
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

hr {
  margin-top: 30px;
}

button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h5 {
  color: #333;
  margin: 0;
  font-weight: 300;
}
#male,
#female,
#other {
  width: auto;
}
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: initial !important;
  opacity: 100 !important;
  pointer-events: painted !important;
}
.user-exist {
  display: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.time {
  padding: 0 5px 10px;
}
.modal-dialog {
  width: 80%;
  margin: auto;
  top: 15%;
}
